<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>382654851756-ak1erovph6ccv01edk4gmmtd7bu530lo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382654851756-ak1erovph6ccv01edk4gmmtd7bu530lo</string>
	<key>API_KEY</key>
	<string>AIzaSyC9NK-yY7NIF09IRl5mGIVJXVvvlPabns0</string>
	<key>GCM_SENDER_ID</key>
	<string>382654851756</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.JonathanDenard</string>
	<key>PROJECT_ID</key>
	<string>jonathan-denard</string>
	<key>STORAGE_BUCKET</key>
	<string>jonathan-denard.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382654851756:ios:25662b574194c275f68d09</string>
	<key>DATABASE_URL</key>
	<string>https://jonathan-denard-default-rtdb.firebaseio.com</string>
</dict>
</plist>